:root{
    --gold:#d4af37;
    --black:#0b0b0b;
}

body{
    margin:0;
    font-family: Tahoma, Arial;
    background:#f5f6f8;
    text-align:center;
}

.header{
    background:var(--black);
    color:var(--gold);
    padding:30px 10px;
}

.header p{
    color:#ddd;
}

.card{
    background:white;
    width:280px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.price{
    color:var(--gold);
    font-size:20px;
    margin:15px 0;
    font-weight:bold;
}

button{
    background:var(--black);
    color:var(--gold);
    border:1px solid var(--gold);
    padding:10px 20px;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:var(--gold);
    color:var(--black);
}
